.container{
    width: 50%;   
    margin-right:auto;
    margin-left: auto;
  }
  
  @media only screen and (max-width: 600px) {
      .container{   
        width: 90%;
        margin-right:auto;
        margin-left: auto;      
      } 
    }